body, html {
    margin: 0;
    padding: 0;
    font-family: "Jost", sans-serif;
}

div.nav-bar {
    display: flex;
    align-items: center;
    width: calc(100% - 40px);
    height: 30px;
    background: linear-gradient(to right, #dc00dc, #7532fa);
    margin: 0;
    padding: 10px 20px;
    gap: 20px;
}

div.buttons-container {
    display: flex;
    justify-content: end;
    width: 100%;
    gap: 20px;
}

p.nav-bar.buttons {
    font-family: "Jost", sans-serif;
    color: white;
    font-size: 15px;
    font-weight: 500;
}

i.nav-bar.logo {
    justify-self: left;
}

div.lead {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    gap: 30px
}

.lead img {
    border-radius: 10px;
    object-fit:cover;
    width: 50%;
    max-width: 100%;
    height: auto;
}

.lead p {
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    width: 50%;
}

.more-info .grad-start {
    background: linear-gradient(to top, #7532fa, white);
    height: 100px;
}

.more-info .grad-info {
    background-color: #7532fa;
    height: auto;
    margin: 0;
    padding: 15px;
    border: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px
}

.more-info .grad-info p {
    font-weight: 300px;
    color: white;
    margin: 0;
}

.more-info .grad-end {
    background: linear-gradient(to bottom, #7532fa, white);
    height: 100px;
}

div.testimonies {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div.individual-testimony {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    font-size: 0.8rem;
    text-align: center;
}

div.individual-testimony img {
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#testimonies-title {
    margin: 40px 15px 0 20px;
    font-size: 1.5rem;
    font-weight: 600;
   text-align: center;
}

div.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #cacaca;
    color: black;
    font-size: 0.8rem;
    margin-top: 20px;
}